:root {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #333;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.cryptocurrencies {
    overflow-x: auto;
    width: 20vw;
    flex-shrink: 0;
}

.cryptocurrencies__head {
    position: sticky;
    z-index: 2;
    top: 0;
}

.cryptocurrencies__header {
    background: #ddd;
}

.cryptocurrencies__header--sortable {
    background: #ddd;
    cursor: pointer;
    transition: background 0.2s;
}

.cryptocurrencies__header--sortable:hover {
    background: #ccc;
}

.cryptocurrencies__table {
    border-collapse: collapse;
    font-size: small;
}

.cryptocurrencies__header,
.cryptocurrencies__cell {
    padding: 0.6em;
    text-align: left;
}

.cryptocurrencies__row {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}

.cryptocurrencies__row:hover {
    background: #ddd;
}

.cryptocurrencies__row:active {
    background: #ccc;
}

.cryptocurrencies__row--selected {
    background: #eee;
}

.cryptocurrencies__cell--positive {
    color: #2ecc71;
}

.cryptocurrencies__cell--negative {
    color: #e74c3c;
}

.cryptocurrency {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.chart {
    position: relative;
    width: 60vw;
    padding: 0 1rem;
}

.calculator {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.calculator__from {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    padding: 0.1rem;
}

.calculator__input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.calculator__currency {
    font-weight: bold;
}

.calculator__value {
    font-weight: bold;
    color: #4a90e2;
}